
body {
    background-color: #fff;
    margin: 0px;
    background-repeat: repeat-x;
    font-family: Verdana, Arial, sans-serif;
        font-size: .8em;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left:-35px;
    margin-right:auto;
    padding-bottom: 200px;

}



h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 36px;
    color: #5e6266;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 130px;
}
    
h2 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    color: #5e6266;
    width: 100%;
    margin-top: 35px;
    border-bottom: 2px solid  #B5BEC5; 
}
  
#content {
    width: 780px;
    text-align: center;
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto; 

}


#content_sidebar {
    font-family: Verdana, Arial, sans-serif;
    color: #555555;
    float: left;
    width: 180px;
}

.content_menu {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    border-bottom: 10px solid #DDDDDD;
    border-top: 10px solid #DDDDDD;
    float: left;
    clear: right;
    margin-top: 30px;
    margin-left: 220px;
    width: 180px;
    padding: 0px 0px 10px 10px;
}

.content_menu div {
    display: block;
    border-bottom: 1px dashed #DDDDDD;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
}

.content_menu a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 8px 0px 8px 0px;
    color: #555555;
}

.content_menu a:visited {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 8px 0px 8px 0px;
    color: #555555;
}

.content_menu a:active {
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 8px 0px 8px 0px;
    color: #555555;
}

.content_menu a:hover {
    text-decoration: underline;
    font-size: 14px;
    display: block;
    padding: 8px 0px 8px 0px;
    background-color: #e5e5e5;
    color: #000000;
}

#content_main {
    font-size: 14px;
    line-height: 130%;
    float: right;
    width: 560px;


}

#content_main a, #content_main a:visited, #content_main a:active {
    text-decoration: underline;
    color: #8d9399;
}

#content_main a:hover {
    text-decoration: underline;
    color: #000000;
}

#content_right {
    margin: 0 auto;
    margin-top: -220px;
    padding: 5px;
    display: inline;
    float: right;
    width: 265px;
    height: 260px;
}

#content_left { 
    margin-left: 275px;
    margin-top: -15px;
    padding: 5px;
    display: inline;
    float: left;
    width: 540px;
    height: 460px;
}



table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 3px;
    font-size: 1em;

}


p {
    line-height: 17px;
    margin: 11px 0 10px 0;
    padding: 0px;
    font-size: 1.0em;
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    color: #07068b;
    padding:8px;
    padding-left: 0px;
    font-size: 1.4em;
}
h4 {
    color: #000000;
    margin:0px;
    padding:0px;
    font-size: 1.2em;
}

ul {
    margin:1px;
    padding:5px;
    padding-left: 20px; 
    list-style-image: url(img/bullet_s.svg);
    font-size: 1.2em;

}

li {
    font-size: 10px;
    margin:0px;
    padding:2px;
    list-style-image: url(img/bullet_s.svg);
    font-size: .8em;
}


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 730px;
}


#top {  
    position:fixed;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 100px;
    color: #424242;
    overflow:hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;

}

#bottom{  
    position:fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 25px;
    color: #424242;
    overflow:hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;

}


/**** Footer ***/


#footer {
        margin: 20px auto 0 20px;
    text-align: center;
    border-top: dotted 1px gray;
    padding: 20px 0 20px 0;
    width: 70%;
}

#footer p {
    margin: 0px;
    padding: 0;
}

p { line-height: 1.5 }

.supscript {
    position: relative;
    bottom: 0.5em;
    color: red;
    font-size: 0.8em;
}

.subscript {
    position: relative;
    top: 0.3em;
    color: blue;
    font-size: 0.8em;
}





